### Question 1: Create a list of first 10 square numbers

In [26]:
l=10
for i in range(1,10+1):
    print(i**2,end=" ")

1 4 9 16 25 36 49 64 81 100

### Question 2: Find the sum of all even numbers in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [28]:
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sum=0
for i in l:
    if i%2 == 0:
        sum = sum + i
print(sum)

30

### Question 3: Remove duplicates from [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]

In [29]:
l=[1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
new=[]
for i in l:
    if i not in new:
        new.append(i)
print(new)

[1, 2, 3, 4, 5, 6, 7]

### Question 4: Sort the list [64, 34, 25, 12, 22, 11, 90] in descending order

In [39]:
l=[64, 34, 25, 12, 22, 11, 90]
l.sort(reverse=True)
l

[90, 64, 34, 25, 22, 12, 11]

### Question 5: Find the average of numbers in [15, 23, 31, 42, 56, 78, 91]

In [44]:
l= [15, 23, 31, 42, 56, 78, 91]
sum=0
for i in l:
    sum = sum + i
print(sum/len(l))

48.0

### Question 6: Create a list of first 15 Fibonacci numbers

In [48]:
n=15
n1=0
n2=1
l=[n1,n2]
for i in range(2,n):
    sum1=n1+n2
    l.append(sum1)
    n1=n2
    n2=sum1
print(l)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

### Question 7: Find the second largest number in [45, 67, 23, 89, 12, 34, 78]

In [52]:
l=[45, 67, 23, 89, 12, 34, 78]
l.sort()
print(l[-2])

78

### Question 8: Reverse the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [59]:
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l.reverse()
l

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

### Question 9: Count how many times 5 appears in [1, 5, 2, 5, 3, 5, 4, 5, 6]

In [72]:
l=[1, 5, 2, 5, 3, 5, 4, 5, 6]
count=0
for i in l:
    if i==5:
        count=count+1
print(count)

4

### Question 10: Create a list of prime numbers between 1 and 50

In [102]:
for num in range(2,50):
    is_prime=True
    for i in range(2,num):
        if num % i == 0:
            is_prime=False
            break
    if is_prime == True:
        print(num,end=",")

2,3,5,7,11,13,17,19,23,29,31,37,41,43,47,

In [103]:
primes = []
for i in range(2, 50):
    for j in range(2, i):
        if i % j == 0:
            break
    else:  # This else belongs to the for-loop: runs if no break occurs
        primes.append(i)

print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

### Question 11: Flatten nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [117]:
l1=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
l2=[]
for i in l1:
    for j in i:
        l2.append(j)
print(l2)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### Question 12: Find common elements between [1, 2, 3, 4, 5] and [4, 5, 6, 7, 8]

In [5]:
l1=[1, 2, 3, 4, 5]
l2=[4, 5, 6, 7, 8]

com=set(l1) & set(l2)
print(com)

{4, 5}

In [8]:
l1=[1, 2, 3, 4, 5]
l2=[4, 5, 6, 7, 8]
com=[]
for i in l1:
    for j in l2:
        if i == j:
            com.append(i)
print(com)

[4, 5]

### Question 13: Create a list of lists: [[1, 2], [3, 4], [5, 6]]

In [32]:
l=[[1, 2], [3, 4], [5, 6]]
a=[]
for i in l:
    for j in i:
        a.append(j)
print(a)

[1, 2, 3, 4, 5, 6]

### Question 14: Find the sum of each sublist in [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [38]:
l=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for sublist in l:
    print(sum(sublist))

6
15
24

### Question 15: Transpose the matrix [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [3]:
#GPT
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
transpose = [[row[i] for row in matrix] for i in range(len(matrix[0]))]
print(transpose)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

### Question 16: Find the maximum value in each sublist of [[1, 5, 3], [9, 2, 7], [4, 8, 6]]

In [41]:
l =  [[1, 5, 3], [9, 2, 7], [4, 8, 6]]
for sublist in l:
    print(max(sublist))

5
9
8

### Question 17: Create a 3D list: [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

In [54]:
l=[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
for i in l:
    for j in i:
        for k in j:
            print(k,end=" ")
    print(" ")

1 2 3 4
5 6 7 8

### Question 18: Find the sum of all elements in 3D list [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

In [86]:
l=[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
sum=0
for i in l:
    for j in i:
        for k in j:
            sum =sum + k
print(sum)

36

### Question 19: Extract all even numbers from nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [96]:
l = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
a=[]
for i in l:
    for j in i:
        if j % 2  == 0:
            a.append(j)
print(a)

[2, 4, 6, 8]

### Question 20: Create a list of mixed data types: [1, "hello", 3.14, True, [1, 2, 3]]

In [98]:
l=[1, "hello", 3.14, True, [1, 2, 3]]
for i in l:
    if isinstance(i, int) and not isinstance(i, bool):
        print(i,"is integer")
    elif isinstance(i, float):
        print(i, "is Float")
    elif isinstance(i, str):
        print(i, "is String")
    elif isinstance(i, bool):
        print(i, "is Boolean")
    elif isinstance(i, list):
        print(i, "is List")

1 is integer
hello is String
3.14 is Float
True is Boolean
[1, 2, 3] is List

### Question 21: Find the length of each string in ["apple", "banana", "cherry", "date"]

In [102]:
l=["apple", "banana", "cherry", "date"]
for i in l:
    print(i,"=",len(i))

apple = 5
banana = 6
cherry = 6
date = 4

### Question 22: Create a list of tuples: [(1, 'a'), (2, 'b'), (3, 'c')]

In [107]:
l=[(1, 'a'), (2, 'b'), (3, 'c')]
for i in l:
    for j in i:
        if isinstance(j,int):
            print(j, "is number")
        elif isinstance(j, str):
            print(j, "is Charecter")

1 is number
a is Charecter
2 is number
b is Charecter
3 is number
c is Charecter

### Question 23: Extract first element from each tuple in [(1, 'a'), (2, 'b'), (3, 'c')]

In [112]:
l= [(1, 'a'), (2, 'b'), (3, 'c')]
a=[]
for i in l:
    for j in i:
        if isinstance(j,int):
            a.append(j)
print(a)

[1, 2, 3]

### Question 24: Create a list of dictionaries: [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]

In [117]:
Emp = [
    {'name': 'Alice', 'age': 25},
    {'name': 'Bob', 'age': 30}
]
print(Emp)

[{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]

### Question 25: Extract all 'name' values from list of dictionaries

In [126]:
Emp = [
    {'name': 'Alice', 'age': 25},
    {'name': 'Bob', 'age': 30}
]
name = []
for i in Emp:
    name.append(i['name'])
print(name)

['Alice', 'Bob']

### Question 26: Find the person with maximum age in list of dictionaries

In [133]:
Emp = [
    {'name': 'Alice', 'age': 25},
    {'name': 'Bob', 'age': 30}
]
j=Emp[0]
for i in Emp:
    if i['age']>j['age']:
        j = i
print(i)

{'name': 'Bob', 'age': 30}

### Question 27: Create a 4D list: [[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]

In [10]:
l=[[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]



l=[
    [
        [[1,2],[3,4]],
        [[5,6],[7,8]]
    ],
    [
        [[9,10],[11,12]],
        [[13,14],[15,16]]
    ]
]
print(l)

[[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]

### Question 28: Find the maximum value in 4D list

In [27]:
l=[[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]
a=[]
for i in l:
    for j in i:
        for k in j:
            for m in k:
                a.append(m)
print(max(a))

16

### Question 29: Create a list of sets: [{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]

In [28]:
l=[{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]
print(l)

[{1, 2, 3}, {4, 5, 6}, {8, 9, 7}]

### Question 30: Find the union of all sets in list of sets

In [30]:
l=[{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]
union = set().union(*l)  # * used to unpack the list("Break the list and pass each item individually")
print(union)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

### Question 31: Create a list of complex numbers: [1+2j, 3+4j, 5+6j]

In [31]:
l=[1+2j, 3+4j, 5+6j]
print(l)

[(1+2j), (3+4j), (5+6j)]

### Question 32: Find the magnitude of each complex number in list

In [41]:
# The magnitude of a complex number formula: a + b = (a**2+b**2)(1/2)
import math

l= [1+2j, 3+4j, 5+6j]
magnitute = []

for i in l:
    mag = math.sqrt(i.real**2 + i.imag**2)    #Aplied formula.
    magnitute.append(mag)
print("Magnitudes:",magnitute)

Magnitudes: [2.23606797749979, 5.0, 7.810249675906654]

### Question 33: Create a nested list with different levels: [1, [2, 3], [4, [5, 6]], 7]

In [43]:
l=[1, [2, 3], [4, [5, 6]], 7]
print(l)

[1, [2, 3], [4, [5, 6]], 7]

### Question 34: Count the depth of nesting in [1, [2, 3], [4, [5, 6]], 7]

In [4]:
#GPT
nested_list = [1, [2, 3], [4, [5, 6]], 7]

def list_depth(lst):
    if not isinstance(lst, list):  # Base case: not a list
        return 0
    if not lst:  # Empty list
        return 1
    return 1 + max(list_depth(item) for item in lst)

depth = list_depth(nested_list)
print(depth)

3

### Question 35: Create a list of functions: [len, str, int, float]

In [56]:
l=[len, str, int, float]
print(l)

[<built-in function len>, <class 'str'>, <class 'int'>, <class 'float'>]

### Question 36: Apply each function in list to string "123"

In [62]:
l="123"
print(int(l))
print(float(l))
print(str(l))
print(len(l))

123
123.0
123
3

### Question 37: Create a list of lambda functions: [lambda x: x*2, lambda x: x**2, lambda x: x+1]

In [63]:
l=[lambda x: x*2, lambda x: x**2, lambda x: x+1]
print(l)

[<function <lambda> at 0x0000020FD0AA9280>, <function <lambda> at 0x0000020FD0AA9E50>, <function <lambda> at 0x0000020FD0A2F280>]

### Question 38: Apply each lambda function to 5

In [69]:
l=[lambda x: x*2, lambda x: x**2, lambda x: x+1]
num=5
for i in l:
    print(i(num))

10
25
6

In [70]:
l=[lambda x: x*2, lambda x: x**2, lambda x: x+1]
num=5
print(l[0](num))
print(l[1](num))
print(l[2](num))

10
25
6

### Question 39: Create a list of classes: [list, dict, set, tuple]

In [71]:
l=[list, dict, set, tuple]
print(l)

[<class 'list'>, <class 'dict'>, <class 'set'>, <class 'tuple'>]

### Question 40: Create instances of each class in list

In [77]:
l= [list, dict, set, tuple]

# Example data for creating instances
data_list = [
    [1, 2, 3],                # for list
    [("a", 1), ("b", 2)],     # for dict
    [1, 2, 2, 3],              # for set
    [1, 2, 3]                  # for tuple
]

for cls, data in zip(l, data_list):  #zip() takes two (or more) lists and pairs their elements one by one
    print(cls, data)

<class 'list'> [1, 2, 3]
<class 'dict'> [('a', 1), ('b', 2)]
<class 'set'> [1, 2, 2, 3]
<class 'tuple'> [1, 2, 3]

### Question 41: Create a list of None values: [None, None, None, None]

In [78]:
l=[None, None, None, None]
print(l)

[None, None, None, None]

### Question 42: Replace all None values with 0 in list

In [91]:
l=[None, None, None, None]

for i in range(len(l)):
    if l[i] == None:
        l[i] = 0
print(l)

[0, 0, 0, 0]

### Question 43: Create a list of boolean values: [True, False, True, False]

In [92]:
l=[True, False, True, False]
print(l)

[True, False, True, False]

### Question 44: Count True values in boolean list

In [96]:
l=[True, False, True, False, True]
count=0
for i in l:
    if i == True:
        count=count + 1
print(count)

3

### Question 45: Create a list of ranges: [range(3), range(5), range(2)]

In [104]:
l=[range(3), range(5), range(2)]
print(l)

[range(0, 3), range(0, 5), range(0, 2)]

### Question 46: Convert each range to list

In [103]:
l=[range(3), range(5), range(2)]
for i in l:
    print(list(i))

[0, 1, 2]
[0, 1, 2, 3, 4]
[0, 1]

### Question 47: Create a list of generators: [(x for x in range(3)), (x for x in range(5))]

In [106]:
l=[(x for x in range(3)), (x for x in range(5))]
print(l)

[<generator object <genexpr> at 0x0000020FD0C04040>, <generator object <genexpr> at 0x0000020FD0C04120>]

### Question 48: Convert each generator to list

In [107]:
l=[(x for x in range(3)), (x for x in range(5))]
for i in l:
    print(list(i))

[0, 1, 2]
[0, 1, 2, 3, 4]

### Question 49: Create a list of iterators: [iter([1, 2, 3]), iter([4, 5, 6])]

In [108]:
l= [iter([1, 2, 3]), iter([4, 5, 6])]
print(l)

[<list_iterator object at 0x0000020FD0F47070>, <list_iterator object at 0x0000020FD0F47790>]

### Question 50: Extract all elements from each iterator

In [111]:
l= [iter([1, 2, 3]), iter([4, 5, 6])]
for i in l:
    for j in i:
        print(j,end=' ')

1 2 3 4 5 6