### Question 1: Create a tuple of first 10 natural numbers

In [20]:
t = 10
n=tuple(range(1,t + 1))
print(n)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### Question 2: Find the length of tuple (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [21]:
t=(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(len(t))

10

### Question 3: Access the 3rd element from tuple ('a', 'b', 'c', 'd', 'e')

In [28]:
t=('a', 'b', 'c', 'd', 'e')
a=[]
for i in t:
    a.append(i)
print(a)
print(a[2])

['a', 'b', 'c', 'd', 'e']
c

### Question 4: Find the maximum value in tuple (23, 45, 12, 67, 34, 89, 56)

In [29]:
t=(23, 45, 12, 67, 34, 89, 56)
print(max(t))

89

### Question 5: Count how many times 5 appears in (1, 5, 2, 5, 3, 5, 4, 5, 6)

In [33]:
t=(1, 5, 2, 5, 3, 5, 4, 5, 6)
count=0
for i in t:
    if i == 5:
        count = count + 1
print(count)

4

### Question 6: Create a tuple of mixed data types (integer, float, string, boolean)

In [34]:
t=(1,23.2,'hi',True)
print(t)

(1, 23.2, 'hi', True)

### Question 7: Find the index of element 'python' in ('java', 'python', 'c++', 'javascript')

In [48]:
t=('java', 'python', 'c++', 'javascript')
a=[]
for i in t:
    if i == 'python':
        a.append(t.index(i))
print(a)

[1]

In [38]:
t=('java', 'python', 'c++', 'javascript')
t.index("python")

1

### Question 8: Check if 25 exists in tuple (10, 20, 30, 40, 50)

In [51]:
t=(10, 20, 30, 40, 50)
25 in t

False

In [73]:
t=(10, 20, 30, 40, 50)
for i in t:
    if i == 25:
        print("True")
        break
else:
    print("False")

False

### Question 9: Create a tuple of first 5 even numbers

In [79]:
t=10
for i in range(1,t+1):
    if i%2 == 0:
        print(i,end=" ")

2 4 6 8 10

### Question 10: Find the average of numbers in tuple (15, 23, 31, 42, 56, 78)

In [86]:
t=(15, 23, 31, 42, 56, 78)
sum = 0
for i in t:
    sum = sum + i
print(sum/len(t))

40.833333333333336