### Question 1: Create a dictionary of student names and their ages

In [3]:
d={'Krishna':'24','Leena':'23','Subhash':'27','Kushala':'26'}
print(d)

{'Krishna': '24', 'Leena': '23', 'Subhash': '27', 'Kushala': '26'}

### Question 2: Add a new key-value pair to dictionary {'a': 1, 'b': 2, 'c': 3}

In [8]:
d={'a': 1, 'b': 2, 'c': 3}
d['d']=4
d['e'] = 5
print(d)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

### Question 3: Get all keys from dictionary {'name': 'John', 'age': 25, 'city': 'New York'}

In [11]:
d={'name': 'John', 'age': 25, 'city': 'New York'}
print(d.keys())

dict_keys(['name', 'age', 'city'])

### Question 4: Get all values from dictionary {'python': 3, 'java': 2, 'c++': 1}

In [13]:
d={'python': 3, 'java': 2, 'c++': 1}
d.values()

dict_values([3, 2, 1])

### Question 5: Check if key 'age' exists in {'name': 'Alice', 'age': 30, 'city': 'London'}

In [14]:
d={'name': 'Alice', 'age': 30, 'city': 'London'}
'age' in d

True

### Question 6: Remove key 'temp' from {'a': 1, 'b': 2, 'temp': 3, 'c': 4}

In [16]:
d={'a': 1, 'b': 2, 'temp': 3, 'c': 4}
d.pop('temp')
print(d)

{'a': 1, 'b': 2, 'c': 4}

### Question 7: Find the sum of all values in {'math': 85, 'science': 92, 'english': 78}

In [18]:
d={'math': 85, 'science': 92, 'english': 78}
sum(d.values())

255

### Question 8: Create a dictionary with squares of numbers 1 to 5

In [19]:
d={}
for i in range(1,6):
    d[i] = i**2
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

### Question 9: Count frequency of each character in string "hello"

In [23]:
s="hello"
freq={}
for i in s:
    if i in freq:
        freq[i] +=1
    else:
        freq[i] = 1
print(freq)

{'h': 1, 'e': 1, 'l': 2, 'o': 1}

### Question 10: Merge two dictionaries {'a': 1, 'b': 2} and {'c': 3, 'd': 4}

In [34]:
d1={'a': 1, 'b': 2}
d2={'c': 3, 'd': 4}
m= d1 | d2
print(m)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [31]:
d1={'a': 1, 'b': 2}
d2={'c': 3, 'd': 4}
d1.update(d2)
print(d1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

### Question 11: Create a nested dictionary: {'person': {'name': 'Alice', 'age': 25}}

In [35]:
d= {
    'person': 
    {
        'name': 'Alice', 'age': 25
    }
}
print(d)

{'person': {'name': 'Alice', 'age': 25}}

### Question 12: Access nested value 'name' from {'person': {'name': 'Alice', 'age': 25}}

In [9]:
d={
    'person': 
    {
        'name': 'Alice', 'age': 25
    }
}
dic['person']['name']

'Alice'

### Question 13: Create a dictionary with list values: {'fruits': ['apple', 'banana'], 'colors': ['red', 'blue']}

In [15]:
d={'fruits': ['apple', 'banana'], 'colors': ['red', 'blue']}
print(d)

{'fruits': ['apple', 'banana'], 'colors': ['red', 'blue']}

### Question 14: Add 'orange' to the 'fruits' list in nested dictionary

In [21]:
d={'fruits': ['apple', 'banana'], 'colors': ['red', 'blue']}
d['fruits'].append("Orange")
print(d)

{'fruits': ['apple', 'banana', 'Orange'], 'colors': ['red', 'blue']}

### Question 15: Create a dictionary with tuple values: {'coordinates': (10, 20), 'rgb': (255, 0, 0)}

In [22]:
d={'coordinates': (10, 20), 'rgb': (255, 0, 0)}
print(d)

{'coordinates': (10, 20), 'rgb': (255, 0, 0)}

### Question 16: Extract first coordinate from nested tuple

In [24]:
d={'coordinates': (10, 20), 'rgb': (255, 0, 0)}
C=d['coordinates'][0]
print(C)

10

### Question 17: Create a dictionary with set values: {'vowels': {'a', 'e', 'i'}, 'consonants': {'b', 'c', 'd'}}

In [25]:
d={'vowels': {'a', 'e', 'i'}, 'consonants': {'b', 'c', 'd'}}
print(d)

{'vowels': {'e', 'i', 'a'}, 'consonants': {'d', 'c', 'b'}}

### Question 18: Add 'o' to vowels set in nested dictionary

In [35]:
d={'vowels': {'a', 'e', 'i'}, 'consonants': {'b', 'c', 'd'}}
d['vowels'].add('o')
print(d)

{'vowels': {'e', 'o', 'i', 'a'}, 'consonants': {'d', 'c', 'b'}}

### Question 19: Create a 3-level nested dictionary: {'company': {'department': {'employee': {'name': 'John', 'id': 123}}}}

In [37]:
d={'company': {'department': {'employee': {'name': 'John', 'id': 123}}}}
print(d)

{'company': {'department': {'employee': {'name': 'John', 'id': 123}}}}

### Question 20: Access employee name from 3-level nested dictionary

In [49]:
d={'company': {'department': {'employee': {'name': 'John', 'id': 123}}}}
d['company']['department']['employee']['name']

'John'

### Question 21: Create a dictionary with mixed data types: {'int': 42, 'float': 3.14, 'str': 'hello', 'bool': True}

In [50]:
d={'int': 42, 'float': 3.14, 'str': 'hello', 'bool': True}
print(d)

{'int': 42, 'float': 3.14, 'str': 'hello', 'bool': True}

### Question 22: Check data type of each value in mixed dictionary

In [55]:
d={'int': 42, 'float': 3.14, 'str': 'hello', 'bool': True}

for key, value in d.items():
    print(f"{key}: {type(value)}")

int: <class 'int'>
float: <class 'float'>
str: <class 'str'>
bool: <class 'bool'>

### Question 23: Create a dictionary with function values: {'len': len, 'str': str, 'int': int}

In [56]:
d={'len': len, 'str': str, 'int': int}
print(d)

{'len': <built-in function len>, 'str': <class 'str'>, 'int': <class 'int'>}

### Question 24: Apply each function to "123" using dictionary

In [63]:
d={'len': len, 'str': str, 'int': int}
s="123"

print("len",d['len'](s))
print("int",d['int'](s))
print("str",d['str'](s))

len 3
int 123
str 123

### Question 25: Create a dictionary with lambda functions: {'double': lambda x: x*2, 'square': lambda x: x**2}

In [65]:
d={'double': lambda x: x*2, 'square': lambda x: x**2}
print(d)

{'double': <function <lambda> at 0x000001C9470A0E50>, 'square': <function <lambda> at 0x000001C94719EE50>}

### Question 26: Apply each lambda function to 5

In [66]:
n=5
d={'double': lambda x: x*2, 'square': lambda x: x**2}
for i in d:
    print(i + "(" + str(n) + ") = " + str(d[i](n)))

double(5) = 10
square(5) = 25

### Question 27: Create a dictionary with class values: {'list': list, 'dict': dict, 'set': set}

In [67]:
d={'list': list, 'dict': dict, 'set': set}
print(d)

{'list': <class 'list'>, 'dict': <class 'dict'>, 'set': <class 'set'>}

### Question 28: Create instances using class dictionary

In [68]:
d = {'list': list, 'dict': dict, 'set': set}

# Creating instances
list_instance = d['list']([1, 2, 3])
dict_instance = d['dict'](a=1, b=2)
set_instance = d['set']([1, 2, 2, 3])

print("List instance:", list_instance)
print("Dict instance:", dict_instance)
print("Set instance:", set_instance)

List instance: [1, 2, 3]
Dict instance: {'a': 1, 'b': 2}
Set instance: {1, 2, 3}

### Question 29: Create a dictionary with None values: {'a': None, 'b': None, 'c': None}

In [69]:
d={'a': None, 'b': None, 'c': None}
print(d)

{'a': None, 'b': None, 'c': None}

### Question 30: Replace all None values with 0

In [70]:
d={'a': None, 'b': None, 'c': None}
for i in d:
    if d[i] is None:
        d[i]=0
print(d)

{'a': 0, 'b': 0, 'c': 0}

### Question 31: Create a dictionary with boolean values: {'is_active': True, 'is_admin': False}

In [71]:
d={'is_active': True, 'is_admin': False}
print(d)

{'is_active': True, 'is_admin': False}

### Question 32: Count True values in boolean dictionary

In [79]:
d={'is_active': True, 'is_admin': False}
count = 0
for i in d.values():
    if i is True:
        count = count + 1
print(count)

1

### Question 33: Create a dictionary with complex numbers: {'z1': 3+4j, 'z2': 1+2j}

In [80]:
d={'z1': 3+4j, 'z2': 1+2j}
print(d)

{'z1': (3+4j), 'z2': (1+2j)}

### Question 34: Find magnitude of each complex number

In [81]:
import math

d = {'z1': 3+4j, 'z2': 1+2j}

for key, value in d.items():
    magnitude = math.sqrt(value.real**2 + value.imag**2)
    print(key, "magnitude:", magnitude)

z1 magnitude: 5.0
z2 magnitude: 2.23606797749979

### Question 35: Create a 4-level nested dictionary

In [82]:
nested_dict = {
    'level1': {
        'level2': {
            'level3': {
                'level4': 'deep value'
            }
        }
    }
}

print(nested_dict)

{'level1': {'level2': {'level3': {'level4': 'deep value'}}}}

### Question 36: Access deepest value in 4-level nested dictionary

In [84]:
nested_dict = {
    'level1': {
        'level2': {
            'level3': {
                'level4': 'deep value'
            }
        }
    }
}

deep_value = nested_dict['level1']['level2']['level3']['level4']
print(deep_value)

deep value

### Question 37: Create a dictionary with range values: {'r1': range(3), 'r2': range(5)}

In [85]:
d = {
    'r1': range(3), 
    'r2': range(5)  
}

print(d)

{'r1': range(0, 3), 'r2': range(0, 5)}

### Question 38: Convert each range to list

In [86]:
d = {'r1': range(3), 'r2': range(5)}

for key in d:
    d[key] = list(d[key])

print(d)

{'r1': [0, 1, 2], 'r2': [0, 1, 2, 3, 4]}

### Question 39: Create a dictionary with generator values

In [87]:
d = {
    'g1': (x for x in range(3)),  # generates 0, 1, 2
    'g2': (x for x in range(5))   # generates 0, 1, 2, 3, 4
}

print(d)

{'g1': <generator object <genexpr> at 0x000001C946F9CD60>, 'g2': <generator object <genexpr> at 0x000001C946F9C270>}

### Question 40: Convert each generator to list

In [89]:
d = {
    'g1': (x for x in range(3)),
    'g2': (x for x in range(5))
}

for key in d:
    d[key] = list(d[key])

print(d)

{'g1': [0, 1, 2], 'g2': [0, 1, 2, 3, 4]}

### Question 41: Create a dictionary with iterator values

In [90]:
d = {
    'it1': iter([1, 2, 3]),
    'it2': iter([4, 5, 6, 7])
}

print(d)

{'it1': <list_iterator object at 0x000001C9463E3AF0>, 'it2': <list_iterator object at 0x000001C9463E3A00>}

### Question 42: Extract all elements from each iterator

In [91]:
d = {
    'it1': iter([1, 2, 3]),
    'it2': iter([4, 5, 6, 7])
}

for key in d:
    d[key] = list(d[key])

print(d)

{'it1': [1, 2, 3], 'it2': [4, 5, 6, 7]}

### Question 43: Create a dictionary with nested lists: {'matrix': [[1, 2], [3, 4]], 'vector': [5, 6, 7]}

In [93]:
d = {
    'matrix': [[1, 2], [3, 4]],  # 2x2 nested list
    'vector': [5, 6, 7]          # simple list
}

print(d)

{'matrix': [[1, 2], [3, 4]], 'vector': [5, 6, 7]}

### Question 44: Find sum of each nested list

In [94]:
d = {
    'matrix': [[1, 2], [3, 4]],
    'vector': [5, 6, 7]
}

for key, value in d.items():
    # Check if the item is a list of lists (nested)
    if all(isinstance(i, list) for i in value):
        sums = [sum(sublist) for sublist in value]
        print(key, "sums of nested lists:", sums)
    else:
        total = sum(value)
        print(key, "sum:", total)

matrix sums of nested lists: [3, 7]
vector sum: 18

### Question 45: Create a dictionary with nested dictionaries: {'config': {'db': {'host': 'localhost', 'port': 5432}}}

In [96]:
d = {
    'config': {
        'db': {
            'host': 'localhost',
            'port': 5432
        }
    }
}

print(d)

{'config': {'db': {'host': 'localhost', 'port': 5432}}}

### Question 46: Access database port from nested configuration

In [97]:
d = {
    'config': {
        'db': {
            'host': 'localhost',
            'port': 5432
        }
    }
}

db_port = d['config']['db']['port']
print(db_port)

5432

### Question 47: Create a dictionary with nested tuples: {'points': ((1, 2), (3, 4)), 'rgb': ((255, 0, 0), (0, 255, 0))}

In [98]:
d = {
    'points': ((1, 2), (3, 4)),        # tuple of tuples
    'rgb': ((255, 0, 0), (0, 255, 0))  # tuple of tuples
}

print(d)

{'points': ((1, 2), (3, 4)), 'rgb': ((255, 0, 0), (0, 255, 0))}

### Question 48: Extract first point coordinates

In [99]:
d = {
    'points': ((1, 2), (3, 4)),
    'rgb': ((255, 0, 0), (0, 255, 0))
}

first_point = d['points'][0]
print(first_point)

(1, 2)

### Question 49: Create a dictionary with nested sets: {'groups': {{1, 2, 3}, {4, 5, 6}}, 'categories': {{'a', 'b'}, {'c', 'd'}}}

In [100]:
d = {
    'groups': {frozenset({1, 2, 3}), frozenset({4, 5, 6})},
    'categories': {frozenset({'a', 'b'}), frozenset({'c', 'd'})}
}

print(d)

{'groups': {frozenset({1, 2, 3}), frozenset({4, 5, 6})}, 'categories': {frozenset({'a', 'b'}), frozenset({'d', 'c'})}}

### Question 50: Find union of all nested sets

In [101]:
d = {
    'groups': {frozenset({1, 2, 3}), frozenset({4, 5, 6})},
    'categories': {frozenset({'a', 'b'}), frozenset({'c', 'd'})}
}

# Union of all sets
all_union = set()  # empty set to store result

for key in d:
    for s in d[key]:
        all_union = all_union.union(s)

print(all_union)

{1, 2, 3, 4, 5, 6, 'd', 'b', 'c', 'a'}